[submodule "lib/raspicam_cv"]
	path = lib/raspicam_cv
	url = git@github.com:michele-bertasi/raspicam_cv.git
[submodule "lib/userland"]
	path = lib/userland
	url = git@github.com:michele-bertasi/userland.git
[submodule "lib/yowsup"]
	path = lib/yowsup
	url = git@github.com:michele-bertasi/yowsup.git
[submodule "lib/dropbox_uploader"]
	path = lib/dropbox_uploader
	url = git@github.com:michele-bertasi/Dropbox-Uploader.git
[submodule "lib/libb64"]
	path = lib/libb64
	url = git://git.code.sf.net/p/libb64/git
