[submodule "lib/raspicam_cv"]
	path = lib/raspicam_cv
	url = git@github.com:michele-bertasi/raspicam_cv.git
[submodule "lib/userland"]
	path = lib/userland
	url = git@github.com:michele-bertasi/userland.git
[submodule "lib/yowsup"]
	path = lib/yowsup
	url = git@github.com:michele-bertasi/yowsup.git
[submodule "lib/dropbox_uploader"]
	path = lib/dropbox_uploader
	url = git@github.com:michele-bertasi/Dropbox-Uploader.git
[submodule "lib/glog"]
	path = lib/glog
	url = git@github.com:michele-bertasi/glog-cmake.git
[submodule "lib/pics_web_interface"]
	path = lib/pics_web_interface
	url = git@github.com:michele-bertasi/pics_web_interface.git
